@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0f172a;
  --color-surface: #172033;
  --color-border: #334155;
}

body {
  @apply bg-slate-950 text-slate-200 font-sans antialiased;
}
